.mimic {
    padding: 0 10em;
    display: flex;
}
.chest {
    padding: 1em;
}

.map {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-family: 'Fira Mono'; 
    padding: 1em 2em;
    height: 15%;
    width: 100%;
}


.seal {
    width: auto;
    margin: auto 0;
    font-size: 2rem;
    font-weight: bold;
    align-content: center;
}

.magic-portals {
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.seal a, .portal a:link, .portal a:visited {
    text-decoration: none;
    color: black;
    transition: 0.25s;
}
  
.portal a:hover {
    color: hotpink;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
}

.portal a:active {
    color: hotpink;
}

.portal {
    width: auto;
    margin: 0 0.5em;
    font-size: 1.5rem;
    display: flex;
    line-height: 2rem;
}

.portal a.active::before, .portal a:hover::before {
    opacity: 100;
}


.portal a::before {
    opacity: 0;
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    float: left;
    margin: auto 0.25em;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
}

#lore a::before {
    content: url("../assets/026-scroll.svg");
}

#quests a::before {
    content: url("../assets/022-swords.svg");
}

#stats a::before {
    content: url("../assets/047-poison.svg");
}

#outposts a::before {
    content: url("../assets/015-banner.svg");
}

